* {
    box-sizing: border-box;
}

body {
    font-family: Karla, sans-serif;
    margin: 0;
    background-color: lightslategray;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-image: url("./assets/image.png");
    background-size: 550px;
    background-repeat: no-repeat;
   display: flex; */
}

main {
  width: 300px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 80vh;
}

.start-page {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #293264;
  margin-bottom: 0;
  font-weight: 540;
}

p {
  font-weight: 340;
  font-size: large;
  margin-bottom: 35px;
}

.start-page button {
  background-color: #4D5B9E;
  color: #F5F7FB;
  border: none;
  font-family: inherit;
  padding: 15px 60px;
  border-radius: 15px;
  font-size: large;
}


.start-page button:hover {
  cursor: pointer;
  padding: 15px 50px;

}